@import '../../scss/_variables.scss';

.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 20px;
      padding: 10px;
      border: 1px solid $pink;
      border-radius: 30px;
      margin-right: 10px;
      background-color: #ffffff;
      color: $pink;
      cursor: pointer;

      &:hover {
        background-color: $pink;
        color: #ffffff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $pink;
        color: #ffffff;
      }
    }
  }
}