$black: #232323;
$background: #FF99CC;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$pink: 	#ff3399;
$white: #FFF;

$container-width: 90%;
$border-radius: 30px;

$popup-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);

$duration: 0.15s;
